.forecastItem {
    margin: 8px 8px;
    padding: 4px;
    background: linear-gradient( #37699b, #709ecc);
    color: white;
    min-width: 6rem;
    max-width: 25%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.forecastContainer {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin: 5rem 5rem;
}

.itemDate {
    margin-bottom: 0;
}

.itemTemp {
    margin-top: 0.6rem;
}
